{% extends "base.html" %}

{% block content %}
<div>
  <p>Chère coordonatrice humanitaire, chers collègues,</p>
  <p>
    Le seuil du déclencheur d'action du cadre d'action anticipatoire pour les ouragans en Haïti a été atteint, conformément à la prévision émise à {{ pub_time }}, {{ pub_date }} (heure locale d'Haïti) par le National Hurricane Center de NOAA, l'opérateur du Centre météorologique régional spécialisé Miami.
  </p>
  <p>
    Toutes les activités conformes au <a href="https://reliefweb.int/report/fiji/fiji-tropical-cyclones-2023-anticipatory-action-framework">document du cadre</a> doivent maintenant commencer. OCHA peut convoquer une réunion des partenaires participants.
  </p>
  <p>Meilleures salutations et bonne chance,</p>
  <p>Centre de données humanitaires OCHA</p>
</div>
{% endblock content %}
