{% extends "base.html" %}

{% block content %}
<div style="font-size:10px;padding: 6px 10px 6px 10px;background-color:#CCCCCC;color:#FFFFFF">
  <p style="margin:0;">
    Cet e-mail est purement consultatif et ne sert pas d'avis officiel pour le cadre d'action anticipatoire. Les avis officiels d'activation sont envoyés par un autre e-mail. Cet e-mail ne constitue pas non plus une prévision officielle. Le <a href="https://www.meteo-haiti.gouv.ht/cyclone.php">Communiqué d'activité cyclonique</a> publié par l'Unité HydroMétéorologique d'Haïti est la source officielle pour les informations locales. Dans le cadre du Tropical Cyclone Programme de l'Organisation météorologique mondiale, RSMC Miami, géré par le National Hurricane Center de NOAA, est chargé de surveiller les cyclones tropicaux dans la région ; <a href="https://www.nhc.noaa.gov/cyclones/">leur prévisions des cyclones</a> font autorité.
  </p>
</div>
<div>
  <p>Chers collègues,</p>
  <p>
    Les {{ fcast_obsv }}s pour {{ name }} de {{ pub_time }}, {{ pub_date }} (heure locale Haïti) viennent d'être émises par le National Hurricane Center de NOAA, opérateur du Regional Specialized Meteorological Centre (RSMC) Miami, et par
    {% if fcast_obsv == "prévision" %}
    CHC de UC Santa Barbara (CHIRPS-GEFS).
    {% else %}
    NASA (IMERG).
    {% endif %}
  </p>
  <p>
  {% if fcast_obsv == "prévision" %}
    Déclencheur de mobilisation : <b>{{ readiness }}</b><br>
    Déclencheur d'action : <b>{{ action }}</b>
  {% else %}
    Déclencheur observationnel : <b>{{ obsv }}</b>
  {% endif %}
  </p>
  <p>
    Un tracé des {{ fcast_obsv }}s est présenté ci-dessous.
  </p>
  <img src="cid:{{ map_cid }}" width="600"/>
  <p>
    Une graphique comparant ces {{ fcast_obsv }}s avec les cyclones historiques est présenté ci-dessous.
  </p>
  <img src="cid:{{ scatter_cid }}" width="600"/>

  <p>
    Le code utilisé pour produire cette alerte est disponible sur GitHub <a href="https://github.com/OCHA-DAP/ds-aa-hti-hurricanes">ici</a>.
  </p>
  <p>Meilleures salutations,</p>
  <p>Centre de données humanitaires OCHA</p>
</div>
{% endblock content %}
