{% extends "base.html" %}

{% block content %}
<div>
  <p>Chère coordonatrice humanitaire, chers collègues,</p>
  <p>
    Le seuil du déclencheur observationnel du cadre d'action anticipatoire pour les ouragans en Haïti a été atteint, conformément aux données observationnels émises jusqu'à {{ pub_time }}, {{ pub_date }} (heure locale d'Haïti) par le National Hurricane Center de NOAA, l'opérateur du Centre météorologique régional spécialisé Miami, et aux données observationnels de précipitations IMERG de NASA. Le <a href="https://www.meteo-haiti.gouv.ht/cyclone.php">Communiqué d'activité cyclonique</a> publié par l'Unité HydroMétéorologique d'Haïti confirme les observations de NOAA.
  </p>
  <p>
    Toutes les activités conformes au <a href="https://reliefweb.int/report/fiji/fiji-tropical-cyclones-2023-anticipatory-action-framework">document du cadre</a> doivent maintenant commencer. OCHA peut convoquer une réunion des partenaires participants.
  </p>
  <p>Meilleures salutations et bonne chance,</p>
  <p>Centre de données humanitaires OCHA</p>
  <p>
    PS : N'oubliez pas que l'impact de ce projet pilote sera évalué et nous encourageons tous les partenaires à documenter au mieux les décisions et les leçons apprises pendant cette activation. Enfin, veuillez également vous assurer que tous les visuels, histoires et médias sociaux sont partagés avec le groupe.
  </p>
</div>
{% endblock content %}
